<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Client</title>
  <link rel="stylesheet" href="/stylesheets/client-edit.css">

</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

<div class="client-edit-container"></div>
  <h1>Edit Client</h1>

  <form action="/clients/<%= clientData._id %>?_method=PUT" method="POST">
    <label for="name">Client Name:</label><br>
    <input type="text" id="name" name="name" value="<%= clientData.name %>" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" value="<%= clienData.email %>"><br><br>

    <label for="phone">Phone:</label><br>
    <input type="text" id="phone" name="phone" value="<%= clientData.phone %>"><br><br>

    <label for="category">Category:</label><br>
    <select id="category" name="category">
      <option value="Ecommerce" <%= clientData.category === "Ecommerce" ? "selected" : "" %>>Ecommerce</option>
      <option value="Editorial" <%= clientData.category === "Editorial" ? "selected" : "" %>>Editorial</option>
      <option value="Campaign" <%= clientData.category === "Campaign" ? "selected" : "" %>>Campaign</option>
      <option value="Wedding" <%= clientData.category === "Wedding" ? "selected" : "" %>>Wedding</option>
      <option value="VIP Artist" <%= clientData.category === "VIP Artist" ? "selected" : "" %>>VIP Artist</option>
    </select><br><br>

    <button type="submit">Update Client</button>
  </form>

  <br>

  <form action="/clients/<%= clientData._id %>?_method=DELETE" method="POST">
    <button type="submit" style="color: red;">Delete Client</button>
  </form>

  <br>
  <a href="/clients">Back to Clients List</a>

</body>
</html>
